body {
    font-family: Arial, sans-serif;
    background-color: #dee7b7d9;
}

h1 {
    text-align: center;
    color: #17af84de;
}

.my-box {
    max-width: 380px;
    margin: 100px auto;
    background-color: #fff;
    padding: 50px;
    border: 1px solid #04080f;
    border-radius: 25px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #44b31f;
}

input[type="submit"] {
    background-color: #17af84de;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1c4aa8;
}

p {
    text-align: center;
    margin-top: 30px;
    color: #d33030;
}

a {
    color: #3d76d2;
}

ul.west {
    list-style: none;
    color: #cc0000;
}

ul.west li {
    margin-bottom: 10px;
}