body {
	font-family: Arial, sans-serif;
	background-color: #dee7b7d9;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #17af84de;
    margin-bottom: 20px;
}

.product-list {
    margin-top: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-rate,
.product-quantity,
.product-unit,
.product-expiry-date {
    margin: 5px 0;
}

.add-to-cart-btn {
    background-color: #17af84de;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
}

.add-to-cart-btn:hover {
    background-color: #1e5aa8;
}

p.no-products {
    text-align: center;
    margin-top: 20px;
}

.logout {
    text-align: right;
    margin-bottom: 10px;
}

.logout-btn {
    color: #fff;
    background-color: #f04747;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #d23c3c;
}

.back-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #17af84de;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.back-btn:hover {
    background-color: #17af84de;
    text-decoration: none;
}