body {
    font-family: Arial, sans-serif;
    background-color: #dee7b7d9;
}


.my-box {
    max-width: 550px;
    margin: 25px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 25px;
}

h1 {
    text-align: center;
    color: #17af84de;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

label {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 5px;
    color: #000;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    padding-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.create-product-btn {
    display: block;
    border: none;
    width: 100%;
    margin: 12px;
    margin-left: 5px;
    margin-top: 15px;
    border-radius: 25px;
    padding: 12px;
    background-color: #17af84de;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-product-btn:hover {
    background-color: #1c4aa8;
}

.back-btn {
    text-decoration: none;
    background-color: #17af84de;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }