body {
    font-family: Arial, sans-serif;
    background-color: #dee7b7d9;
    margin: 0;
}

.my-box {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 25px;
}

h1 {
    text-align: center;
    color: #17af84de;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 30px;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

.category {
    margin-bottom: 30px;
}

.category-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #f07828;
    text-transform: capitalize;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;

}

th {
    background-color: #f5f5f5;
    color: #333;
}

tr:nth-child(even) {
    background-color: #cae4d5ef;
}

.product-name {
    font-weight: bold;
}

.buy-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #2874f0;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.buy-btn:hover {
    background-color: #1c4aa8;
}

.logout-btn {
    display: inline-block;
    text-align: left;
    margin-top: 12px;
    margin-left: 1100px;
    padding: 10px 20px;
    background-color: #f04747;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #c53232;
    text-decoration: none;
}
.add-to-cart-btn{
    display: inline-block;
    padding: 6px 8px;
    margin: 5px;
    background-color: #17af84de;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;


}
.cart-button {
    text-align: right;
    margin-top: 20px;
}

.view-cart-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #17af84de;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.view-cart-btn:hover {
    background-color: #1c4aa8;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form input[type="text"] {
    display: flex;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 25px;
    flex-grow: 0.5;
    background-color: #fff;
}

.search-form button {
    padding: 8px 12px;
    background-color: #17af84de;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #1e5aa7;
}