body {
    font-family: Arial, sans-serif;
    background-color: #dee7b7d9;
}

.my-box {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #2874f0;
    margin-bottom: 30px;
}

p {
    color: #d33030;
    margin-bottom: 25px;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
}

input[type="submit"],
a.cancel-btn {
    background-color: #17af84de;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin: 2px;
}

input[type="submit"]:hover,
a.cancel-btn:hover {
    background-color: #1c4aa8;
}
