<!DOCTYPE html>
<html>

<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin_db.css') }}">
</head>

<body>
    <div class="box">
        <div class="logout">
            <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
        </div>
        <h1>Hi {{name}}! Welcome to the Admin Dashboard</h1>
        <div class="section">
            <h2>Categories</h2>
            <a href="{{ url_for('create_category', curr_login_id=data.curr_login_id) }}"
                class="create-category-btn">Create Category</a>
            {% for category in data.categories %}
            <div class="category">
                <h3 class="category-name">{{ category.name }}</h3>
                <div class="category-actions">
                    <a href="{{ url_for('edit_category', curr_login_id=data.curr_login_id, category_id=category.id) }}"
                        class="edit-category-btn">Edit</a>
                    <a  href="{{ url_for('remove_category', curr_login_id=data.curr_login_id, category_id=category.id) }}"
                        class="remove-category-btn">Remove</a>
                    <a href="{{ url_for('create_product', curr_login_id=data.curr_login_id, category_id=category.id) }}"
                        class="add-product-btn">Add
                        Product</a>
                </div>
                <table class="product-table">
                    <tr>
                        <th>Product</th>
                        <th>Rate(₹)</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Mf Date</th>
                        <th>Expiry Date</th>
                        <th>Actions</th>
                    </tr>
                    {% for product in category.products %}
                    <tr>
                        <td class="product-name">{{ product.name }}</td>
                        <td class="product-price">{{ product.price}} ₹</td>
                        <td class="product-quantity">{{ product.quantity }}</td>
                        <td class="product-unit">{{ product.unit }}</td>
                        <td class="product-mf-date">{{ product.mf_date }}</td>
                        <td class="product-expiry-date">{{ product.expiry_date }}</td>
                        <td>
                            <a href="{{ url_for('edit_product', curr_login_id=data.curr_login_id, product_id=product.id) }}"
                                class="edit-product-btn">Edit</a>
                            <a href="{{ url_for('remove_product', curr_login_id=data.curr_login_id, product_id=product.id) }}"
                                class="remove-product-btn">Remove</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endfor %}
        </div>
        <div class="section">
            <a href="{{ url_for('admin_stats', curr_login_id=data.curr_login_id) }}" class="view-stats-btn">View Statistics</a>
        </div>
    </div>
</body>

</html>