<!DOCTYPE html>
<html>

<head>
    <title>Edit Product</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='edit_product.css') }}">
</head>

<body>
    <div class="container">
        <div class="back">
            <a href="{{ url_for('admin_dashboard', curr_login_id=curr_login_id) }}" class="back-btn">Dashboard</a>
        </div>
        <h1>Edit Product</h1>
        <form method="POST">
            <div class="form-group">
                <label for="name">Product Name:</label>
                <input type="text" id="name" name="name" value="{{ product.name }}" required>
            </div>
            <div class="form-group">
                <label for="price">Price ₹:</label>
                <input type="number" id="price" name="price" step="0.01" value="{{ product.price }}" required>
            </div>
            <div class="form-group">
                <label for="unit">Unit:</label>
                <input type="text" id="unit" name="unit" value="{{ product.unit }}" required>
            </div>
            <div class="form-group">
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity" value="{{ product.quantity }}" required>
            </div>
            <div class="form-group">
                <label for="mf_date">Mf Date:</label>
                <input type="date" id="mf_date" name="mf_date" value="{{ product.mf_date }}" required>
            </div>
            <div class="form-group">
                <label for="expiry_date">Expiry Date:</label>
                <input type="date" id="expiry_date" name="expiry_date" value="{{ product.expiry_date }}" required>
            </div>
            <div class="form-group">
                <label for="category_id">Category:</label>
                <select id="category_id" name="category_id" required>
                    {% for category in categories %}
                    <option value="{{ category.id }}" {% if category.id==product.category_id %}selected{% endif %}>
                        {{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" value="Update Product" class="update-btn">
        </form>
    </div>
</body>

</html>