<!DOCTYPE html>
<html>

<head>
    <title>Remove Product</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='remove_product.css') }}">
</head>

<body>
    <div class="container">
        <h1>Remove Product</h1>
        <p>Are you sure you want to remove the product "{{ product.name }}"?</p>
        <form method="POST">
            <input type="submit" value="Confirm" class="confirm-btn">
            <a href="{{ url_for('admin_dashboard', curr_login_id=curr_login_id) }}" class="cancel-btn">Cancel</a>
        </form>
    </div>
</body>

</html>