<!DOCTYPE html>
<html>

<head>
    <title>Edit Category</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='edit_category.css') }}">
</head>

<body>
    <div class="my-box">
        <div class="back">
            <a href="{{ url_for('admin_dashboard', curr_login_id=curr_login_id) }}" class="back-btn">Dashboard</a>
        </div>
        <h1>Edit Category</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="messages">
            <li>{{ messages[-1][1] }}</li>
        </ul>
        {% endif %}
        {% endwith %}


        <form method="POST">
            <div>
                <label for="name">Category Name:</label>
                <input type="text" id="name" name="name" value="{{ category.name }}" required>
            </div>
            <div>
                <input type="submit" value="Save Changes" class="submit-btn">
            </div>
        </form>
    </div>
</body>

</html>